.controlPanelContainer {
  position: absolute;
  bottom: 8px;
  right: 8px;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;

  padding: 16px;
  box-sizing: border-box;

  width: min(400px, 30%);
  height: min(300px, 50%);

  background-color: var(--color-base);
  opacity: 0.75;

  border: 1px solid var(--color-lightest);
  border-radius: var(--border-radius);

  box-shadow:
    0px 0px 4px 2px var(--color-lightest),
    0px 0px 4px var(--color-lightest),
    inset 0px 0px 8px var(--color-lightest);
}

.controlButton {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  font-size: 18px;
  padding: 0px;

  width: min(400px, 30%);
  height: min(300px, 50%);

  background-color: var(--color-base);

  border: 1px solid var(--color-lightest);
  border-radius: var(--border-radius);

  box-shadow:
    0px 0px 4px 2px var(--color-lightest),
    0px 0px 4px var(--color-lightest),
    inset 0px 0px 8px var(--color-lightest);

  & .emoji {
    font-size: 48px;
    margin: auto;
  }

  & .keyBoard {
    padding: 4px;
    border-top: 2px solid var(--color-lightest);
    box-shadow:
      0px 0px 4px 2px var(--color-lightest),
      0px 0px 4px var(--color-lightest),
      inset 0px 0px 8px var(--color-lightest);
  }
}

.controlButtonDisabled {
  opacity: 0.3 !important;
  pointer-events: none;
}

.velocimeterUIWrapper {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;

  width: min(300px, 70%);
  height: min(120px, 40%);

  background-color: var(--color-base);

  border: 1px solid var(--color-lightest);
  border-radius: var(--border-radius);

  box-shadow:
    0px 0px 4px 2px var(--color-lightest),
    0px 0px 4px var(--color-lightest),
    inset 0px 0px 8px var(--color-lightest);
}

.wormHole {
  font-size: 48px;
  color: var(--color-lightest);
  animation: 1s twinkle infinite;
}

.wormHoleDisabled {
  font-size: 48px;
  color: var(--color-light);
  pointer-events: none;
}

@keyframes twinkle {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
