.hintContainer {
  opacity: 0;
  transition: opacity 1s;

  text-align: center;
}

.hintKeyboard {
  width: min(240px, 12em);
  padding: 12px 8px;
  margin: 16px auto;

  text-align: center;
  font-weight: bold;

  border-radius: 12px;

  animation: 3s infinite normal pressing linear;

  background-color: var(--color-darker);
}

.hintTouch {
  margin: 16px auto;

  width: 50%;
  height: 50%;

  border-radius: 50%;

  background-color: var(--color-light);
  opacity: 0.4;

  animation: 3s infinite normal touching linear;
}

p {
  padding: 0;
  margin: 0;
  color: var(--color-lighter);
  font-size: 16px;
}

h2 {
  margin: 24px;
  font-size: 22px;
}

@keyframes touching {
  0% {
    box-shadow:
      inset -1px 2px 2px var(--color-light),
      inset 1px -3px 1px var(--color-darkest);
  }

  10% {
    box-shadow:
      inset -1px 2px 2px var(--color-light),
      inset 1px -3px 1px var(--color-darkest);
  }

  20% {
    box-shadow:
      inset 1px -2px 1px var(--color-light),
      inset -1px 3px 2px var(--color-darkest);
  }
  90% {
    box-shadow:
      inset 1px -2px 1px var(--color-light),
      inset -1px 3px 2px var(--color-darkest);
  }
}

@keyframes pressing {
  0% {
    box-shadow:
      inset -1px 2px 2px var(--color-light),
      inset 1px -3px 1px var(--color-darkest);
  }

  10% {
    box-shadow:
      inset -1px 2px 2px var(--color-light),
      inset 1px -3px 1px var(--color-darkest);
  }

  20% {
    box-shadow:
      inset 1px -2px 1px var(--color-light),
      inset -1px 3px 2px var(--color-darkest);
  }
  90% {
    box-shadow:
      inset 1px -2px 1px var(--color-light),
      inset -1px 3px 2px var(--color-darkest);
  }
}
